<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Ef6JoinExperimentEntities" connectionString="metadata=res://*/Ef6JoinExperimentEntities.csdl|res://*/Ef6JoinExperimentEntities.ssdl|res://*/Ef6JoinExperimentEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=Ef6JoinExperiment;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>